body {
  background-color: black;
}
p {
  color: green;
}

@font-face {
  font-family: pigCipher;
  src: url(PigpenCipher.otf);
}

p1 {
  font-family: pigCipher;
  color: green;
  font-size: 40px;
}
div1 {
  color: tomato;
}

.prompt{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 300;
  margin-left: 80;
  margin-bottom: -200;
}

.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50 px;
  margin-left: -100px;
}


 body{
	margin: 0;
	padding: 0;
	font-family: 'Abril Fatface', serif;
}
.caption{
  text-align: center;
  font-family: pigCipher;

	line-height: 100px;
	font-size: 60px;
	color: rgb(17, 190, 46);
	position: fixed;
  top: 50%;
  left: 50%;
	transform: translateY(-50%);
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	margin-top: -50 px;
  margin-left: -100px;
}
.slider{
	height: 600px;
	background-color: #293132;
	text-align: center;
	position: relative;
	animation: slideColor 10s forwards;
}



.text-box1,.text-box2,.text-box3,.text-box4 {
	display: inline-block;
  position: relative;
  margin-left: 20px;
}

.text-box1 div,.text-box2 div,.text-box3 div,.text-box4 div{
	display: inline-block;
	position: absolute;
	top: -200px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	animation-timing-function: ease;
}
/* textbox 1*/
.text-box1 div:nth-child(1){
	animation: rollDown 0.5s forwards;
}
.text-box1 div:nth-child(2){
	animation: rollDown2 0.5s forwards;
}
.text-box1 div:nth-child(3){
	animation: rollDown2 0.5s forwards;
}
.text-box1 div:nth-child(4){
	animation: rollDown2 0.5s forwards;
}
.text-box1 div:nth-child(5){
	animation: rollDownLast 0.5s forwards;
}


/* textbox 2 */
.text-box2 div:nth-child(1){
	animation: rollDown 0.8s forwards;
}
.text-box2 div:nth-child(2){
	animation: rollDown2 0.8s forwards;
}
.text-box2 div:nth-child(3){
	animation: rollDown2 0.8s forwards;
}
.text-box2 div:nth-child(4){
	animation: rollDown2 0.8s forwards;
}
.text-box2 div:nth-child(5){
	animation: rollDownLast 0.8s forwards;
}


/* textbox 3 */
.text-box3 div:nth-child(1){
	animation: rollDown 1.3s forwards;
}
.text-box3 div:nth-child(2){
	animation: rollDown2 1.3s forwards;
}
.text-box3 div:nth-child(3){
	animation: rollDown2 1.3s forwards;
}
.text-box3 div:nth-child(4){
	animation: rollDown2 1.3s forwards;
}
.text-box3 div:nth-child(5){
	animation: rollDownLast 1.3s forwards;
}


/* textbox 4 */
.text-box4 div:nth-child(1){
	animation: rollDown 1.7s forwards;
}
.text-box4 div:nth-child(2){
	animation: rollDown2 1.7s forwards;
}
.text-box4 div:nth-child(3){
	animation: rollDown2 1.7s forwards;
}
.text-box4 div:nth-child(4){
	animation: rollDown2 1.7s forwards;
}
.text-box4 div:nth-child(5){
	animation: rollDownLast 1.7s forwards;
}




@keyframes rollDown {
	0%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	11%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown4 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDownLast {
	66%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	77%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	100%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
}
@keyframes slideColor{
	0%{
		background-color: #387780;
	}
	33%{
		background-color: #3f88c5;
	}
	66%{
		background-color: #588b8b;
	}
	100%{
		background-color: #387780;
	}
}

/* .caption{
  text-align: center;

	line-height: 100px;
	font-size: 60px;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	margin-left: -300px;
}

.caption div{
  display: inline-block;
	position: absolute;
	top: -200px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	animation-timing-function: ease;
}

.coded-message{
  text-align: center;
  display: inline-block;
  position: relative;
}

.coded-message span{
  color:tomato;
	display: inline-block;
	position: absolute;
	top: -200px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	animation-timing-function: ease;
}

.text-box span:nth-child(1){
	animation: rollDown 5s forwards;
}

.text-box span:nth-child(2){
	animation: rollDown2 5s forwards;
}

.text-box span:nth-child(3){
	animation: rollDown3 5s forwards;
}

.text-box span:nth-child(4){
	animation: rollDown4 5s forwards;
}

.text-box span:nth-child(5){
	animation: rollDown5 5s forwards;
}


@keyframes rollDown {
	0%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	11%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}
@keyframes rollDown3 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}
@keyframes rollDown4 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}
@keyframes rollDown5 {
	66%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	77%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	100%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
} */